#about { background-color: #ADD8E6; }
#skills { background-color: #87CEFA; }
#interests { background-color: #4682B4; }
#more-about-me { background-color: #4169E1; }
#reflection { background-color: #0000CD; }
#contact { background-color: #00008B; }

@media (max-width: 460px) {
    #about, #skills, #interests, #more-about-me, #contact {
        background-color: white !important;
    }
}

section {
    text-align: justify;
    padding: 50px 0;
}

img { 
    max-width: 100%;
    height: auto;
}