#about { background-color: #cce5ff; }
#skills { background-color: #99ccff; }
#interests { background-color: #66b3ff; }
#contact { background-color: #3399ff; }

@media (max-width: 460px) {
    #about, #skills, #interests, #contact {
        background-color: white !important;
    }
}

section {
    text-align: center;
    padding: 50px 0;
}

img { 
    max-width: 100%;
    height: auto;
}